h2 {
  font-size: 28px;
}

input {
  width: 300px;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 6px 14px;
  cursor: pointer;
}

a {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
