<h2>Add Student</h2>

<form [formGroup]="studentForm" (ngSubmit)="save()" novalidate>

  <!-- NAME -->
  <div class="form-row">
    <label for="name">Name *</label>
    <input id="name" type="text" formControlName="name" />
    <div class="error" *ngIf="name?.touched && name?.invalid">
      <small *ngIf="name?.errors?.['required']">Name is required.</small>
      <small *ngIf="name?.errors?.['minlength']">Name must be at least 5 characters.</small>

    </div>
  </div>

  <!-- CLASS -->
  <div class="form-row">
    <label for="className">Class *</label>
    <select id="className" formControlName="className">
      <option value="" disabled>-- select class --</option>
      <option *ngFor="let c of classes" [value]="c">{{ c }}</option>
    </select>

    <div class="class-message" *ngIf="className?.value === 'Class 9'">
      You will appear in board exams soon. All the Best !!
    </div>
    <div class="class-message" *ngIf="className?.value === 'Class 6'">
      Welcome to middle school!
    </div>
    <div class="class-message"
         *ngIf="className?.value && className?.value !== 'Class 6' && className?.value !== 'Class 9'">
      Education and hobby go hand in hand!
    </div>

    <div class="error" *ngIf="className?.touched && className?.invalid">
      <small>Class is required.</small>
    </div>
  </div>

  <!-- GENDER -->
  <div class="form-row">
    <label>Gender *</label>
    <label><input type="radio" formControlName="gender" value="Male" /> Male</label>
    <label><input type="radio" formControlName="gender" value="Female" /> Female</label>
    <div class="error" *ngIf="gender?.touched && gender?.invalid">
      <small>Gender is required.</small>
    </div>
  </div>

  <!-- HAS HOBBY -->
  <div class="form-row">
    <label><input type="checkbox" formControlName="hasHobby" /> I have a hobby</label>
  </div>

  <!-- HOBBY (conditional) -->
  <div class="form-row" *ngIf="hasHobby?.value">
    <label for="hobby">Hobby</label>
    <input id="hobby" type="text" formControlName="hobby" />
  </div>

  <!-- FAVORITE SUBJECT -->
  <div class="form-row">
    <label for="favoriteSubject">Favorite Subject</label>
    <select id="favoriteSubject" formControlName="favoriteSubject">
      <option value="">-- none --</option>
      <option *ngFor="let s of subjects" [value]="s">{{ s }}</option>
    </select>
  </div>

  <div class="form-actions">
    <button type="submit">Save</button>
    <button type="button" (click)="studentForm.reset()">Reset</button>
  </div>

</form>



